
        body{
            font-family: sans-serif;
            background-color: rgb(21,20,35);
            color: white;

        }
        #h2{
            position: absolute;
            top: 45px;
            left: 370px;
            display: inline;
            font-size: 100px;
            letter-spacing: 4px;
            
        }
        .hi{
            
            display: inline;
            font-size: 57px;
            position: relative;
            left: 10px;
            top: 100px;

        
        }
        #time{
    
            height: 200px;
            width: 400px;
            position: absolute;
            left: 353px;
            top: 270px;
            margin-left: 140px;
            background-color: rgb(47,148,228);
            box-shadow: 1px 2px 30px 3px rgb(47,148,228);
            border-radius: 5px;
            -webkit-box-reflect: below 0 linear-gradient(to top,#0000,#0005);
        }
        #uam{
            font-size: xx-large;
        }
        #cal{
            position: absolute;
            width: 400px;
            height: 50px;
            text-align: center;
            line-height: 110px;
            font-size: x-large;
            letter-spacing: 2px;

        }
        #drop{
            margin-left: 1220px;
            margin-top: 20px;
            width: 80px;
            height: 30px;
            background-color:white;
            border-radius: 5px;
            border: none;
        }
        #clock{
            display: inline;
            margin-left: 1215px;
            border-radius: 150px;
            font-size: x-large;  
            cursor: pointer;

        }
        #clock:hover{
            color: rgb(47,148,228);
            transition: .5s;

        }
        #alerm{
            margin-left: 1215px;
            display: none;
            
        }
        #sp{
            margin-left: 1100px;
            display: none;
        }
        #sp:hover{
            color: rgb(47,148,228);
            transition: .5s;

        }
        #off{
            margin-left: 1100px;
            display: none;
        }
        #off:hover{
            color: rgb(47,148,228);
            transition: .5s;

        }



